@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #BD272E;
    --secondary: #000000;
    --accent1: #F4F6FC;
    --accent2: #FFFFFF;
    --shadow: #404040 
  }

html, body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F4F6FC;
}

/* Contact Form Section Styling */
#contact-core h3, 
#contact-core h2, 
#contact-form label, 
#contact-form button {
    color: var(--secondary); /* This is the color used in "Let's get connected" */
}

#contact-core p {
    color:var(--secondary); /* Send us an email */
    margin-top: 0;
    font-size: 30px;
    text-align: left;
    margin-left: 80px;
    font-weight: 700;
    position: relative;
}

#contact-form .form-group {
    text-align: left;
    margin-bottom: 20px;
}

#contact-form input[type="email"],
#contact-form textarea {
    width: calc(100% - 20px); /* Adjust the width as needed */
    margin-bottom: 10px;
}

#contact-message {
    resize: none;
}

#contact-email::placeholder,
#contact-message::placeholder {
    font-family: "Montserrat", sans-serif;
}

/* Ensure the rest of the content is above the footer */
#contact-core {
    margin-bottom: 60px; /* This should be equal or more than the height of your footer */
}

/* Contact Section Styles */
#contact-core {
    padding: 40px;
    text-align: center;
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
}

#contact-core h3 {
    font-weight: 700; /* Adjust the font weight as needed */
    margin: 0;
    font-size: 30px;
}

#contact-core h2 {
    font-size: 40px;
    font-weight: 900; /* Adjust the font weight as needed */
    color: var(--primary);
    margin-bottom: 30px;
    margin-top: 0;
}

/* Clear floats after the contact section */
#contact-core::after {
    content: "";
    display: table;
    clear: both;
  }

#contact-form {
    font-size: 1.1em;
    max-width: 700px;
    margin: 0 auto;
}

#contact-form label { /* Email and Message */
    color: #000000;
    display: block;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 400; /* Adjust the font weight as needed */
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid rgb(104, 103, 103);
}

#contact-form textarea {
  height: 160px; /* Set the height of the textarea */
}

.email-feedback {
    background-color: var(--secondary);
    color: var(--accent1);
    margin: 10px;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.email-feedback:hover {
    background-color: var(--primary);
    color: var(--accent1);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


/* Find Us on FB */
.find-us:hover {
    background-color: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.find-us {
    position: relative;
    bottom: 0;
    left: 84%; /* Adjusted left position */
    transform: translateX(-50%);
    width: 370px;
    max-width: calc(100% - 20px); /* Ensure it doesn't extend beyond viewport width */
    background-color: var(--secondary);
    color: var(--accent1);
    border-top-left-radius: 100px;
    text-align: center;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none;
  }

.find-us-text {
    font-size: 45px;
    font-weight: 700;
    margin-right: 10px; 
    margin-left: 30px;
}

.facebook-icon {
    background-image: url('/src/uploads/sprite.png');
    background-position: -1542px -402px;
    width: 208px;
    height: 206px;
    zoom: .4;
    display: inline-block;
}

/* javascript style */
.error {
    color: var(--primary); 
    background-color: #FFD6CC; 
    border: 1px solid var(--primary);
    padding: 10px; 
    border-radius: 5px;
    display: block;
    text-align: center; 
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    margin-bottom: 30px;
}

.success {
    color: green;
    background-color: #DFF0D8; /* Light green background */
    border: 1px solid #3C763D; /* Dark green border */
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 128, 0, 0.2); /* Adjust shadow color */
    margin-bottom: 30px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

/* Footer */
.footer {
    background-color: #F4F6FC !important; /* This is a light, pleasing shade of red, adjust as needed */
  }

  .footer-nav {
    margin-top: 16px; /* Adjust as needed */
    margin-left: 40px;
  }


@media (max-width: 768px) {

    #contact-core h2,
    #contact-core h3,
    #contact-core p {
        text-align: center;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        margin: 0;
        margin-left: 0;
    }

    #contact-core h2 {
        font-size: 30px;
    }

    #contact-core p {
        font-size: 15px;
        margin-top: 30px;
    }

    #contact-core .email-feedback {
        width: 20px;
        background-color: #BD272E;
        font-size: 10px;
        margin: 0;
        padding: 10px;
        border-radius: 25vh;
    }

    .find-us {
        width: 500px;
        transform: translateX(-75%);
        padding: 10px;
    }

    .find-us-text {
        font-size: 20px;
    }
}